.container{
    text-align: center;
    /* width: 70%; */
     margin: auto;
}
.dice{
    display: inline-block;
    text-align: center;
}
body{
    background-color: #3943468f;
}

h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 0 #232931;
    font-size: 8em;
    color: #4ECCA3;
}

p{
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    color: #4ECCA3;
    text-shadow: 2px 0 #232931;
}

img{
    width: 80%;
}

footer{
    font-family: 'Indie Flower', cursive;
margin-top: 10%;
color: hsl(57, 40%, 81%);
text-align: center;
font-size: 1.8em;

}







